{{> head }}
{{> navbar }} 

<div class="row">
    <div class="col-8">
        <h1>Handlebars</h1>
        <p>
            Handlebars provides the power necessary to let you build semantic templates effectively with no frustration.
        </p>
        
    </div>
    <div class="col-4">
        <img src="assets/img/IMG_0171_1024x1024.jpg" alt="img-thumbnail" width="200" height="300">
    </div>
</div>
{{> footer }}